/*--  общие элементы ---*/
body {
    margin: 0;
    font-family: Nunito Sans, Arial;
}

/* body * {
    box-sizing: border-box;
} */

.container {
    max-width: 1256px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    padding: 13px 33px;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    text-align: center;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
}

input {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    color: #363636;
    box-sizing: border-box;
}

.input label {
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.input input {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    line-height: 23px;
    box-sizing: border-box;
    color: #363636;
    border: none;
    width: 231px;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}

.title {
    margin: 0;
    font-family: Yeseva One, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
}

.subtitle {
    margin: 0;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

ul {
    list-style: none;
    font-style: normal;
    font-weight: normal;
}

li a {
    text-decoration: none;
    color: white;
}

li a:hover {
    color: #E3B873;
}


.logo {
    color: #E3B873;
}

.header {
    background-color: black;
}

.header-content {
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    height: 83px;
    align-items: center;
}

.header-navigation {
    display: flex;
}

.header-navigation-item {
    margin-right: 45px;
}


.phone {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    color: #E3B873;
}

.hero {
    background-image: url("../img/hero.jpg");
    background-size: cover;
    height: 513px;
    position: relative;
    padding-top: 194px;
}

/* 
.hero-container {
    position: relative;
    z-index: 1;
} */

.overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-button {
    height: 51px;
    width: 220px;
    margin-right: 20px;
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
}

.hero-button:hover {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border: none;
}

.title-hero {
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: white;
}

.primary {
    color: #E3B873;
}

.hero-text {
    margin-top: 34px;
    text-align: left;
    margin-bottom: 40px;
    color: white;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    letter-spacing: 0em;
}

.projects {
    background-color: #131313;
    padding-bottom: 414px;
    align-content: center;
}

.projects-list {
    list-style: none;
    margin: 0 0 0 535px;
    padding: 107px 0 0;
    display: flex;
}

.projects-list a {
    padding: 6px 0;
    margin: 0 60.5px 45px 0;
    font-size: 14px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

.projects-list a:hover {
    border-bottom: 1px solid #E3B873;
    color: #E3B873;
}

.projects-content {
    display: flex;
}

.projects-content-description {
    width: 442px;
    color: white;
    padding-top: 25px;

}

.projects-content h2 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    margin: 0;
    letter-spacing: -0.05em;

}

.projects-items {
    height: 290px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.projects-item {
    margin-top: 24px;
    width: 200px;
    height: 120px;
}

h3 {
    font-family: Yeseva One;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #E3B873;

}

p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.text {
    color: #363636;
    font-size: 18px;
    line-height: 37px;
    width: 677px;
    margin: 34px auto;
    text-align: center;
}

.projects-item p {
    margin-top: 34px;
    font-size: 13px;
    line-height: 21px;
    margin-top: 9px;
}

.projects-nav {
    height: 84px;
    margin-top: 80px;
    display: flex;
    align-items: flex-start;
}

.project-nav-items {
    display: flex;
    cursor: pointer;
}

.projects-arrow {
    margin-right: 15px;
}

.circle {
    content: '';
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}

.circle:hover,
.active {
    background: #FFFFFF;
}

.photo {
    margin-left: 95px;
    margin-top: 15px;
}

.online-control {
    margin-top: -350px;
    text-align: center;
    position: relative;
    height: 1072px;
}

.subtitle-white {
    color: #ffffff;
}

.icon {
    padding-top: 13px;
    display: flex;
    width: 135px;
    height: 30px;
    justify-content: space-between;
    margin: 0 auto;
}

.icon-decor {
    width: 32px;
    border: 1px solid #E3B873;
    border-radius: 1px;
    height: 1px;
    margin-top: 14px;
}

.video {
    background-image: url("../img/control.png");
    width: 817px;
    height: 433px;
    margin: 31px auto 62px auto;
}

.fade {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button {
    /*box-shadow: 0 5px 30px rgba(227, 184, 115, 0.2);*/
    outline: 0;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    border: none;
    background: #E3B873 url("../img/polygon.svg") no-repeat 35px center;
    cursor: pointer;
}

.control-decor {
    border: 1px solid #E3B873;
    width: 55px;
    margin-top: 62px;
    border-radius: 2px;

}

/* .control-text {
    color: #363636;
    font-size: 18px;
    line-height: 37px;
    width: 677px;
    margin: 34px auto;
} */

.form-submit {
    box-sizing: border-box;
    height: 51px;
    display: inline-flex;
    text-align: left;
    margin-top: 51px;
    margin-bottom: 35px;
    width: 769px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 0px;
}

.form-button {
    width: 200px;
    height: 51px;
    border-color: burlywood;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
}

.checkbox {
    margin-top: 0px;
    display: none;
}

.label {
    cursor: pointer;
}

.fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}

.fake::before {
    content: "\2714";
    opacity: 0;
    transition: .2s;
}

.checkbox:checked+.fake::before {
    opacity: 1;
}

.checkbox-control {
    text-align: center;
}

.checkbox-control-adaptive {
    display: none;
}

.types {
    padding-top: 80px;
    height: 1653px;
}


.types-items {
    display: flex;
    justify-content: space-between;
    margin: 28px 12px 0 15px;
    padding-bottom: 133px;
}


.types-item {
    width: 392px;
    background-repeat: no-repeat;
}

.types-content {
    background-color: white;
    width: 330px;
    height: 286px;
    margin: 294px 30px 0 30px;
    text-align: left;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.types-content ul {
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    margin: 6px 0 0 3px;
}

.types-content h3 {
    font-family: Yeseva One, sans-serif;
    font-size: 18px;
    line-height: 25px;
    padding: 23px 0 0 33px;
    text-transform: none;
    margin: 0 auto;
    color: #000;
}

.types-price {
    display: block;
    font-family: "Yeseva One";
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #e3b873;
    padding: 18px 16px;
    margin-left: 31px;
    margin-top: -36px;
    position: relative;
    z-index: 3;
    width: 228px;
}

.request-content {
    background-image: url('../img/requestbg.png');
    height: 645px;
    padding-top: 49px;
    background-position-x: -5px;
    background-repeat: no-repeat;
    display: flex;
}

.request-items {
    text-align: left;
    font-size: 14px;
    line-height: 19px;
    width: 506px;
    height: 509px;
    margin-left: 140px;
}

.request-item {
    align-items: center;
    margin-bottom: 87px;
}

.request-item-number {
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    font-family: Yeseva One,
        sans-serif;
    font-size: 18px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
    height: 42px;
    width: 42px;
}

.request-item-text {
    line-height: 19px;
    color: #363636;
    width: 316px;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 14px;
    font-family: Nunito Sans, Arial;
}

.request-form {
    background-color: #131313;
    color: white;
    width: 506px;
    height: 509px;
    text-align: left;
    margin-left: 49px;
    margin-top: 0px;
}

.request-form-title {
    font-family: Nunito Sans, Arial;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    padding-top: 28px;
    color: #ffffff;
    max-width: 220px;
    width: 100%;
    margin: 0 auto 32px;
}

.request-form-item {
    font-size: 14px;
    line-height: 23px;
    width: 230px;
    border: none;
    margin-left: 50px;
    padding-right: 50px;
    padding-bottom: 45px;

}

.request-form-item label {
    line-height: 23px;
    width: 230px;
    border: none;
    color: rgba(255, 255, 255, 0.5);
}

.request-form-item input {
    background-color: #131313;
    padding: 0 0 6px 0;
    width: 408px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15)
}

.request-form-item input::placeholder {
    color: white;
}

.checkbox-request {
    margin-left: 50px;
    margin-top: -30px;
    margin-bottom: 40px;
}

.check-text {
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    margin-left: 8px;
    line-height: 23px;
}

.request-form-submit {
    text-align: right;
    padding-right: 50px;

}

.request-form-button {
    font-style: normal;
}

.request-discount {
    display: flex;
    margin: 34px 176px 0 0;
    justify-content: flex-end;
}

.request-discount-icon {
    height: 72px;
    width: 72px;
    background: #E3B873;
    box-shadow: 0 10px 20px rgba(237, 192, 120, 0.2);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    margin-right: 24px;
    margin-top: 5px;
}

.request-discount p {
    margin-top: 12px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0 3px 10px rgba(227, 184, 115, 0.15);
}

.request-discount-text {
    text-align: start;
}

.fantasies {
    display: block;
    height: 864px;
    background: url('../img/image5.jpg') no-repeat;
    background-size: cover;
    margin-bottom: 110px;
    position: relative;
}

/* .fantasies-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
} */

.fantasies-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    padding-top: 138px;
}

.fantasies-text-columns {
    float: left;
    height: 634px;
    width: 460px;
    margin: 0;
}

.title-fantasies {
    margin-top: 0;
    margin-bottom: 47px;
}

.fantasies-styles {
    padding-left: 0px;
}

.fantasie-styles_item {
    margin-bottom: 10px;
}

.fantasie-styles_item a {
    font-size: 20px;
    line-height: 38px;

}

.fantasie-styles_item a:hover,
.fantasie-styles_item a:active {
    color: #E3B873;
    text-decoration: underline;
}

.fantasies-images-1 {
    float: left;
    margin-top: -180px;
    margin-left: 120px;
    margin-right: 43px;
}

.fantasies-images-1_item-1 {
    margin-bottom: 40px;
    width: 354px;
    height: 560px;
    background-image: url('../img/fantasie1.jpg');
}

.fantasies-images-1_item-2 {
    background-image: url('../img/fantasie2.jpg');
    height: 350px;
    width: 354px;
}

.fantasies-images-2 {
    width: 354px;
    float: left;
    margin-top: -250px;
}

.fantasies-images-2_item-1 {
    margin-bottom: 40px;
    height: 275px;
    background-image: url('../img/fantasie3.jpg');
}

.fantasies-images-2_item-2 {
    height: 625px;
    background-image: url('../img/fantasie4.jpg');
}

.clients {
    height: 1050px;
}

.client {
    height: 76px;
    width: 76px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

.client-title {
    display: flex;
    align-items: center;
}

.clients-item_name {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
}

.clients-item_description {
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    line-height: 180%;
    color: #959595;
    margin-bottom: 63px;
}


.client-data {
    background-color: #e3b873;
    display: flex;
    justify-content: space-around;
    width: 293px;
    height: 54px;
    box-sizing: border-box;
    transform: translateY(50%);
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.data-area {
    width: 135px;
}

.data-days {
    width: 158px;
}

.data-data {
    font-family: Yeseva One;
    padding-left: 10px;
}

.data-area,
.data-days {
    border-right: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contacts {
    background-image: url('../img/contacts-bg.jpg');
    padding-top: 49px;
    height: 954px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
}

.form-contacts {
    background: #181818;
    padding: 34px 10px 0px;
    height: 445px;
    width: 883px;
    margin: -250px auto 50px;
    flex-basis: 50%;
    display: block;
    align-content: center;
    text-align: center;
}

.form-items {
    width: 520px;
    margin: 50px auto 20px;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.form-contacts-item {
    text-align: left;
    font-size: 14px;
    line-height: 23px;
    width: 45%;
    border: none;
    padding-bottom: 45px;

}

.form-contacts-item:last-child {
    width: 100%;
}

.form-contacts-item label {
    line-height: 23px;
    border: none;
    color: rgba(255, 255, 255, 0.5);
}

.form-contacts-item input {
    background-color: #181818;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15)
}

.form-contacts-item input::placeholder {
    color: white;
}

.form-contacts-item input:last-child {
    width: 100%;
    flex: 2 400px;
}

.request-form-button {
    width: 200px;
    margin-top: 50px;
}

.contacts-address {
    width: 589px;
    text-align: center;
    font-family: "Yeseva One";
    font-size: 20px;
    line-height: 28px;
    margin: auto;
    text-transform: uppercase;
    margin-bottom: 24px;
    color: #e3b873;
}

.contacts-map-adaptive {
    display: none;
}

.contacts-social {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.contacts-icon {
    background-color: #e3b873;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 15px;
}

.projects-adaptive,
.fantasies-adaptive {
    display: none;
}


@media screen and (max-width: 1300px) {
    .container {
        margin: 0 16px;
    }

    .header-navigation {
        display: none;
    }

    .header-button {
        display: none;
    }

    .phone {
        margin-right: 0;
        color: #FFFFFF;
        text-decoration: none;
    }

    .header-content {
        margin: 0 18px;
        height: 57px;
    }

    .hero {
        padding-top: 85px;
        height: 471px;
        position: relative;

    }

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-container {
        margin: 0 18px;
        width: 340px;
    }


    .title {
        font-size: 23px;
        line-height: 132.83%;
    }

    .title-hero {
        margin-bottom: 16px;
        max-width: 300px;
    }

    .hero-text {
        font-size: 14px;
        line-height: 19px;
        margin: 0 0 34px;
        width: 399px;
        height: 94px;
    }

    .hero-button {

        width: 340px;
        margin-bottom: 26px;
    }

    .request-content,
    .projects-nav,
    .fantasies,
    .clients,
    footer {
        display: none;
    }

    .projects {
        padding: 0;
        height: 850px;
        display: flex;
    }

    .proects-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 0;
        height: 727px;
    }

    .projects-list {
        display: none;
    }

    .projects-content {
        text-align: center;
        margin-top: 36px;
        width: 340px;
    }

    .projects-photo {
        display: none;
    }

    .projects-content h2 {
        margin: 0;
        margin-bottom: 36px;
        letter-spacing: -0.07em;
    }

    .projects-content p {

        margin: auto;
        font-size: 11px;
        line-height: 158.48%;
        height: 86px;
        width: 311px;
        margin-bottom: 36px;
    }

    .projects-adaptive {
        display: block;
    }

    .projects-adaptive-nav {
        position: absolute;
        left: 4%;
        top: 45%;
        height: 15%;
        display: flex;
        width: 92%;
        justify-content: space-between;
    }

    .reverse {
        transform: rotate(-180deg);
    }

    .projects-items {
        text-align: left;
        width: 340;
    }

    h3 {
        font-size: 14px;
        line-height: 19px;
        color: #E3B873;
    }

    .projects-item {
        width: 50%;
        text-align: left;
    }


    .online-control {
        margin-top: 0px;
        background: #131313;
        height: 790px;

    }

    .video {
        background-image: url("../img/control.png");
        width: 340px;
        height: 207px;
        background-size: cover;
        margin-bottom: 28px;
    }

    .fade {
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .play-button {
        /*box-shadow: 0 5px 30px rgba(227, 184, 115, 0.2);*/
        outline: 0;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        border: none;
        background: #E3B873 url("../img/polygon2.svg") no-repeat 15px center;
        cursor: pointer;
        /*box-shadow: 0 5px 30px rgba(227, 184, 115, 0.2);*/
    }

    .container-online-control {
        height: 800px;
    }

    .control-decor {
        margin-top: 28px;
    }

    .text {
        color: #ffffff;
        font-size: 11px;
        line-height: 19px;
        width: 340px;
        margin: 21px auto;
        text-align: center;
    }

    .form-submit {
        width: 340px;
        height: 280px;
        text-align: left;
        margin-top: 40px;
        padding-bottom: 20px;
    }

    .input label {
        color: rgba(255, 255, 255, 0.5);
    }

    .input input {
        font-family: "Nunito Sans", sans-serif;
        font-size: 14px;
        line-height: 19px;
        box-sizing: border-box;
        color: #363636;
        border: none;
        width: 340px;
        margin-bottom: 60px;
        background-color: #131313;
        border-bottom: 1px solid rgba(65, 65, 65, 0.3);
    }

    .input input::placeholder {
        color: white;
    }

    .form-button {
        margin: auto;
        margin-top: 20px;
        width: 340px;
        height: 51px;
        box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    }

    .checkbox-control {
        display: none;
    }

    .checkbox-control-adaptive {
        margin-top: -25px;
        margin-bottom: 20px;
        display: block;
    }

    .checkbox-control-text {
        margin-left: 10px;
    }

    .types {
        height: 1950px;
    }

    .types-items {
        flex-direction: column;
        width: 340px;
    }

    .types-item {
        width: 100%;
        background-size: 100%;
        padding-bottom: 50px;
    }

    .types-content {
        width: 270px;
        height: 241px;
        margin-left: 0;
    }

    .types-price {
        /* font-size: 18px; */
        background-color: #e3b873;
        padding: 12px 16px;
        margin-left: 0px;
        margin-top: -20px;
        position: relative;
        z-index: 3;
        width: 190px;
    }

    .fantasies-adaptive {
        display: flex;
        align-items: center;
        margin: auto;
        width: 340px;
        padding: 0 4vw;
        text-align: center;
        position: relative;
        z-index: 1;
    }

    .fantasies-adaptive-item-photo {
        object-fit: cover;
        width: 340px;
        height: 242px;
        z-index: 1;
    }

    .fantasies-adaptive-nav {
        margin-top: -150px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    .contacts {
        margin: auto;
        margin-top: -35px;
        position: relative;
        z-index: 0;
        background-image: none;
        height: 1196px;
        background: #181818;

    }

    .contacts-overlay {
        display: none;
    }

    .contacts-container {
        position: relative;
        z-index: 1;

    }

    .contacts-content {
        z-index: initial;
        margin: auto;
        margin-top: 100px;
        width: 340px;
        background-image: none;
        background: #181818;
        z-index: 1;

    }

    .contacts-main {
        width: 340px;
        text-align: center;
    }

    .form-contacts {
        margin-top: 120px;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .form-items {
        width: 100%;
        margin: 50px auto 20px;
        display: block;
    }

    .form-contacts-item {
        text-align: left;
        margin-top: 50px;
        font-size: 14px;
        line-height: 23px;
        width: 100%;
        height: 60px;
        border: none;
        padding-bottom: 0px;
    }

    .form-contacts-item input {
        background: #181818;
        border-bottom: 1px solid rgba(254, 254, 254, 0.4);
    }

    .checkbox-contacts {
        margin-bottom: 67px;
        text-align: left;
    }

    .contacts-form-submit button {
        width: 340px;
        margin: auto;
    }

    .contacts-map {
        display: none;
    }

    .contacts-map-adaptive {
        display: initial;
        text-align: center;
        width: 340px;
        margin-top: 100px;
        height: auto;
    }

    .contacts-address {
        width: 92%;
        margin-top: 100px;
        font-size: 18px;
        line-height: 138.6%;
    }

}